<div class = "container-edit">
  <br>
  <h1 class="h3 mb-3 text-center">Votre profil</h1>
<div class="row">
  <div class="col-sm">
    <br>
    <h1 class="h3 mb-3 font-weight-normal text-center">Historique des commandes</h1>
    <% if current_user.orders.length <= 0 %>
        <h2 class="text-center">
        Vous n'avez pas encore fait de commande
        </h2>
    <% else %>
       <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">N° commande</th>
          <th scope="col">Nombre de photos commandées</th>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
        </tr>
      </thead>
      <tbody>
        
        <% current_user.orders.to_a.each_with_index do |order, index| %>
            <tr class="">
              <td scope="row"><%= index + 1 %></td>
              <td> <%= order.items.length %></td>
              <td> <%= order.created_at.to_formatted_s(:short) %></td>
              <td><%= order.returnTotalPrice %> €</td>
            </tr>
        <% end %>
      </tbody>
    </table> 
        <% end %>
   
  </div>

    <div class="col-sm">
      <br>
        <h1 class="h3 mb-3 font-weight-normal text-center">Modifiez vos données <%= resource_name.to_s.humanize %></h1
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  <% if @minimum_password_length %>
                      <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>
                  <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                    </div>
                  <div class="actions mt-5">
                    <%= f.submit "Mettre à jour", class: "btn btn-lg btn-info btn-block" %>
                  </div>
                <% end %>
              <br><br>
            <p class="h3 mb-3 font-weight-normal text-center">Pas content ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-danger btn-block" %></p>
          <%= link_to "Retour", :back %>
        </div>
      </div>
  </div>
</div>
