<div class = "container-edit">
  <br><h1 class="h3 mb-3 text-center">Votre profil</h1>
  <%= render 'avatar' %>

<div class="row">
  <div class="col-sm">
    <br><h1 class="h3 mb-3 font-weight-normal text-center">Historique des commandes</h1>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">N° commande</th>
      <th scope="col">Date</th>
      <th scope="col">Montant</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-secondary">
      <th scope="row">1</th>
      <td>01/01/2020</td>
      <td>150 €</td>
      <td>A payer</td>
    </tr>
    <tr class="table-primary  ">
      <th scope="row">2</th>
      <td>01/02/2020</td>
      <td>15€</td>
      <td>Payé</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="col-sm">
    <br><h1 class="h3 mb-3 font-weight-normal text-center">Modifiez vos données <%= resource_name.to_s.humanize %></h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
                <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="actions mt-5">
            <%= f.submit "Mettre à jour", class: "btn btn-lg btn-info btn-block" %>
          </div>
        <% end %>
      <br><br>
      <p class="h3 mb-3 font-weight-normal text-center">Pas content ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-danger btn-block" %></p>
    <%= link_to "Retour", :back %>
  </div>
  </div>
</div>
