<h1>Merci pour votre commande <%= @order.user.email %>. Voici le récapitulatif :</h1>
<ul>
  <% @order.items.each do |item| %>
    <li><%= item.title %>, <%= item.price %> €, à télécharger ici : <%= item.image_url %></li>
  <% end %>
</ul>

<p>Total : <%= @order %> € </p>
