<div class="container">
  <div class="row justify-content-center mb-5 mt-3">
    <h1>Mon panier</h1>
  </div>
  <div class="row mb-3" id="grid-row">
    <% @useritems.each do |item| %>
    <div class="col-4 text-center" id="grid-col-<%= item.id %>">
      
       <%= button_to "Supprimer du panier", cart_path(current_cart.id), :method => :put, :class => "btn btn-danger", params: {itemId: item.id, operation: "remove"} %>
      <%= render 'items/card', item: item %>
    </div>
    <% end %>
  </div>
  <div class="row justify-content-center mt-3">
    <% @useritems.each do |item| %>
      <% @price = @price + item.price %>
    <% end %>
    <h3>Prix à régler : <%= @price %> €</h3>
  </div>

  <div class="row justify-content-center mb-5">
  <% if user_signed_in? %>
    <%= link_to "Commander", new_order_path(:cart_id => current_user.cart.id), :class => "ml-3 btn btn-success" %>
    <% else %>
    <%= link_to "S'inscrire pour pouvoir commander", new_user_registration_path, :class=>"nav-link" %></a>
     <% end %>
  </div>

</div>
