<div class="title">
<h1> Vous avez craqué pour <%= @item.title %> ? </h1>
</div>
<div class="card-group-show">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="<%= @item.image_url %>" alt="Card image cap">
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @item.title %></h5>
        <p class="card-text"><%= @item.description%></p>
        <p class="card-text"><small class="text-muted">Ajouté au catalogue le: <%=@item.created_at.to_formatted_s(:rfc822)%></small></p>
        <p><small class="text-muted">Prix :</small><%= @item.price %> € </p>
        <% if current_user %>
        <%= button_to "Ajouter au panier", cart_path(current_user.cart.id), :method => :put, :class => "btn btn-primary", params: {itemId: @item.id, operation: "add"} %>
        <% else %>
        <%= button_to "Se connecter pour ajouter un chaton à votre panier", new_user_session_path, :class => "btn btn-info" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
